/****************** GENERAL ********************/
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Custom Button Styles */

.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
}

.btn-light {
  border-radius: 0;
  color: #333;
  background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
  max-width: 100px;
}

hr.medium {
  max-width: 1000px;
}

/**********************************************/

/****************** HEADER ********************/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(36, 80, 110, 0.7),
    rgba(36, 80, 110, 0.7)
  ), url(../img/city-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.header-info__container {
  flex-basis: 80%;
}

.header-info__name {
  margin: 0;
  padding: 0;
  font-size: 5.0em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: "Source Sans Pro","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.header-info__description {
  text-align: center;
  color: #fff;
}

/**********************************************/

/****************** PORTFOLIO ********************/
.portfolio {
  padding: 50px 0;
}

.portfolio-items {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.portfolio-item__container {
  width: 100%;
  height: 100%;
  border-radius: 70%;
  position: relative;
  cursor: default;
  box-shadow: 
    inset 0 0 0 0 rgba(0, 105, 163, 0.9),
    inset 0 0 0 16px rgba(112,181,198,0.0),
    0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
}

.portfolio-item__container:hover, .portfolio-item__container:active {
  box-shadow: 
    inset 0 0 0 200px rgba(0, 105, 163, 0.9),
    inset 0 0 0 16px rgba(112,181,198,0.0),
    0 1px 2px rgba(0,0,0,0.1);
}

.portfolio-item__container:hover .portfolio-item__info-container, .portfolio-item__container:active .portfolio-item__info-container {
  opacity: 1;
  transform: scale(1);  
}

.portfolio-item__container:hover, .portfolio-item__container:active {
  opacity: 1;
  transform: scale(1);  
}

.portfolio-items:after,
.portfolio-item__container:before {
  content: '';
  display: table;
}

.portfolio-items:after {
  clear: both;
}

.portfolio-item {
  margin: 2px;
  width: 340px;
  height: 340px;
  display: inline-block;
}

.portfolio-item__img--good-news { 
  background-image: url(../img/good-news-logo.png);
  background-size: 340px 340px;
  background-repeat: no-repeat;
}

.portfolio-item__img--filmbase { 
  background-image: url(../img/filmbase-logo.png);
  background-size: 340px 340px;
  background-repeat: no-repeat;
}

.portfolio-item__img--discovent { 
  background-image: url(../img/discovent-logo.png);
  background-size: 340px 340px;
  background-repeat: no-repeat;
}

.portfolio-item__info-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
  backface-visibility: hidden;
}

.info-container__header {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 65px 0 0 0;
  height: 110px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);
}

.info-container__description {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
}

.info-container__link {
  color: #fff;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

.info-container__link:hover {
  color: rgba(255,242,34, 0.8);
}

/**********************************************/

/****************** CONNECT ********************/
.connect {
  padding: 50px 0;
}

.connect-item {
  margin-bottom: 30px;
}

/**********************************************/

/****************** PROFILE ********************/
.profile p {
  text-align: left;
  line-height: 25px;
  vertical-align: middle;
  padding-left: 200px;
  padding-right: 200px;
}

.experience__container {
  display: flex;
  width: 70%;
  margin: auto;
}

.experience-info__container {
  height: 100%;
  padding-right: 100px;
}

.resume-btn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  width: 115px;
  height: 40px;
  font-weight: bold;
  background-size: 62px 17px;
  margin-top: 10px;
}

.resume-btn:hover {
  border: none;
  background-color: rgb(231, 231, 231);
}

.experience-items {
  display: inline-block;
}

.experience-item {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.experience-item__img {
  height: 100px;
  width: 100px;
  display: block;
  float: none;
}

.experience-item-info__container {
  text-align: left;
  margin-left: 0;
  margin-top: 10px;
  display: block;
  width: 200px;
  height: 200px;
}

.experience-item__header {
  margin: 0 0 5px 0;
  padding: 0;
  display: block;
}

.experience-item__description {
  text-align: left;
  float: left;
  word-wrap: break-word;
  overflow: hidden;
}

.about__container {
  display: flex;
  width: 70%;
  margin: 20px auto auto auto;
}

.about__header {
  display: inline-block;
}

.about__description {
  display: inline-block;
  margin-top: 70px;
  margin-left: 150px;
  text-align: left;
}

/**********************************************/

/****************** FOOTER ********************/
footer {
    padding: 100px 0;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

/**********************************************/

/****************** MEDIA QUERIES ********************/
@media only screen and (min-width: 1200px) {
  .experience-item__img {
    height: 200px;
    width: 200px;
    display: inline-block;
  }

  .experience-item-info__container {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 900px) {
  .experience-item-info__container {
    display: inline-block;
    width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .experience__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experience-info__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .experience-info__container h3 {
    padding-left: 100px;
  }

  .experience-info__container button {
    position: relative;
    left: 100px;
  }

  .experience-item__img {
    margin-left: 50px;
  }

  .about__container {
    display: flex;
    flex-direction: column;
  }

  .about__description {
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

/**********************************************/


